@import "../../styles/mixins.scss";

.projects {
  .icon_title {
    padding-top: 1rem;
    font-size: 2.5rem;
  }

  @include respond(phone) {
    padding: 0 2rem;
  }
  .swiper_container {
    margin: 0 1.5rem;

    height: 27.5rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      height: 25rem;
      padding: 1.5rem 0;
    }

    .swiper-slide {
      width: 340px;
      height: 360px;

      @include respond(phone) {
        padding-top: 2rem;
        width: 80%;
        height: 90%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;

        @include respond(phone) {
          height: 70%;
        }

        @include respond(tab-port) {
          height: 90%;
        }
      }
    }

    a {
      cursor: grab;
    }
  }

  .slider-controller {
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 10% !important;
      bottom: -10px;

      @include respond(phone) {
        height: 8% !important;
      }

      @include respond(tab-port) {
        height: 9% !important;
      }

      .swiper-pagination-bullet {
        background-color: #fff;
      }
    }
  }
}
