@import "../../styles/mixins.scss";

.services {
  position: relative;
  padding: 0 2rem;

  .section-title {
    h3 {
      font-size: 1.3rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    gap: 1.5rem;
  }

  &__icon {
    display: grid;
    place-content: center;
    width: 5rem;
    height: 5rem;
    background-color: #68a5ff;
    padding: 1rem;
    border-radius: 50%;
    margin-inline: auto;

    img {
      width: 100%;
      filter: hue-rotate(300deg);
      color: white;
    }
  }

  &__card {
    background-color: #0066ff;
    padding: 4rem 1rem;
    border-radius: 0.8rem;
    text-align: center;
    margin-inline: auto;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.5);
    }

    h3 {
      margin-block: 2.5rem 1rem;
    }

    p {
      color: #fff;
    }
  }
}
